<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>987789233018-f80pveigs7mjvn5htqbbv4mu0gdiijmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987789233018-f80pveigs7mjvn5htqbbv4mu0gdiijmh</string>
	<key>API_KEY</key>
	<string>AIzaSyDBqe9Ox_8xA38qCpq7NbVH4r1k8TLGDJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>987789233018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sontungan.Salt-Social</string>
	<key>PROJECT_ID</key>
	<string>salt-social</string>
	<key>STORAGE_BUCKET</key>
	<string>salt-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:987789233018:ios:9ab2815d4a1ab959</string>
	<key>DATABASE_URL</key>
	<string>https://salt-social.firebaseio.com</string>
</dict>
</plist>